name: Go checks

on:
  pull_request:
    branches:
      - main

jobs:
  backend-unit-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up runtime
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"
          cache: True
          cache-dependency-path: backend/go.sum

      - name: Install dependencies
        run: |
          go mod download

      - name: Run unit tests
        run: |
          go test ./...

  lint-checks:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version: "1.25"
          cache: True
          cache-dependency-path: backend/go.sum

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
          working-directory: backend
