name: PR Checks

on:
  pull_request:
    branches:
      - main

jobs:
  backend-checks:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: backend

        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up runtime
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: True
          cache-dependency-path: backend/go.sum

      - name: Install dependencies
        run: |
          go mod download

      - name: Run formatter
        run: |
          gofmt -w .
          git diff --exit-code

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
          working-directory: backend
          
      - name: Run unit tests
        run: |
          go test ./...
